<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmatharu.gurbanigyan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexPage"
            android:label="@string/title_activity_index_page" >
        </activity>
        <activity
            android:name=".YoutubeList"
            android:label="@string/title_activity_youtube_list" >
        </activity>
        <activity
            android:name=".youtube.Youtube1"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube1"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube3"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube3"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube4"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube4"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube5"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube5"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube6"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube6"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube7"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube7"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube8"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube8"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube9"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube9"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube10"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube10"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube11"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube11"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube12"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube12"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube13"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube13"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".youtube.Youtube14"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_youtube14"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ContactMe"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_contact_me"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".StoriesList"
            android:label="@string/title_activity_stories_list" >
        </activity>
        <activity
            android:name=".Quiz"
            android:label="@string/title_activity_quiz" >
        </activity>
    </application>

</manifest>